---
layout: table_wrappers
---

...
<script src="https://giscus.app/client.js"
        data-repo="bidulgi69/bidulgi69.github.io"
        data-repo-id="R_kgDOM8Jslw"
        data-category="Q&A"
        data-category-id="DIC_kwDOM8Jsl84CjHNY"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
